@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: auto !important;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  position: fixed;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="number"] {
  font-size: 16px;
}